name: Renovate
on:
  workflow_dispatch:
    inputs:
      repoCache:
        description: 'Cache usage: enabled, disabled, or reset'
        type: choice
        default: enabled
        options:
          - enabled
          - disabled
          - reset
  schedule:
    - cron: '0 0 * * *'

env:
  cache_archive: renovate_cache.tar.gz
  cache_dir: /tmp/renovate/cache/renovate/repository
  cache_key: renovate-cache
  RENOVATE_REPOSITORIES: ${{ github.repository }}

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Download cache unless disabled or reset
      - name: Download renovate cache artifact
        if: ${{ github.event.inputs.repoCache != 'disabled' && github.event.inputs.repoCache != 'reset' }}
        uses: dawidd6/action-download-artifact@v9
        continue-on-error: true
        with:
          name: ${{ env.cache_key }}
          path: cache-download

      # Extract cache unless disabled or reset
      - name: Extract renovate cache
        if: ${{ github.event.inputs.repoCache != 'disabled' && github.event.inputs.repoCache != 'reset' }}
        run: |
          if [ ! -d cache-download ] ; then
            echo "No cache found."
            exit 0
          fi
          mkdir -p $cache_dir
          tar -xzf cache-download/$cache_archive -C $cache_dir
          sudo chown -R 12021:0 /tmp/renovate/
          ls -R $cache_dir

      - name: Run Renovate
        uses: renovatebot/github-action@v42.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          configurationFile: renovate.json
        env:
          RENOVATE_REPOSITORY_CACHE: ${{ github.event.inputs.repoCache || 'enabled' }}

      - name: Compress renovate cache
        if: ${{ github.event.inputs.repoCache != 'disabled' }}
        run: |
          ls $cache_dir
          tar -czvf $cache_archive -C $cache_dir .

      - name: Upload renovate cache artifact
        if: ${{ github.event.inputs.repoCache != 'disabled' }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.cache_key }}
          path: ${{ env.cache_archive }}
          retention-days: 1
